*{
  margin: 0;
  padding: 0;
}

.container-fluid{

  padding-right: 0;
  padding-left: 0;
}


.t-index-landing-container{

  font-family: "STC Regular";
  background-image: url('../images/landing-img.png') ;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
position: relative;
}



.t-index-overlay{
 background-color:#000;
opacity: 0.6;
height: 100vh;
margin-left: 0;
width: 100%;

}


.t-index-img img{

  width: 15.625em;
}

.t-container-menu {

    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
     transition: all 1s  ease-in; 

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}


.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


.t-index-title{

  width: 400px;
  margin: auto;
  text-align: center;
  color:white;
}

.t-index-name{
font-size: 4.125em;
margin-top: 100px;

}


.t-index-p{
font-size: 1.9em;
margin-top: 20px;

}


.t-index-login{
   border: 2px solid #eeeeee;
        background: rgba(255, 255, 255, 0.4);
        padding: 8.4px 18px;
        border-radius: 5px;
        font-size: 16px;
        position: absolute;
        top: 77%;
        left: 41%;
        margin-left: -1%;
        

}



.t-index-sign-up{
       padding: 10.6px 36px;
        border-radius: 5px;
        font-size: 16px;
        position: absolute;
        top: 77%;
        left: 52%;
    background-color: #32c7ba;
    border:none;


 
}


.t-index-sign-up a , .t-index-login a{
 
color:#fff;
text-decoration: none; 

}

.t-index-login a{
   color: #32c7ba !important;

}

/*start of menu style*/

.t-index-overlay-menu{
  
  
    opacity: 0;
    height: 100vh;
    position: absolute;
    top: -100%;
     bottom: 0;
    left: 0;
    right: 0;
    z-index: 1450;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 1s ease-out, top 1s step-end;
 
}


.t-index-overlay-menu.show {
    transition: opacity 1s ease-out, top 1s step-start;
    opacity: 1;
    top: 0;
    left: 0;
}




.index-menu-links{

position: absolute;
top: 35%;
right: 13%;
font-size: 26px;

}
.index-menu-links a{
  text-decoration: none;
  color: #fff;
  float: right;
  padding-top: 6px;
}
.index-menu-links i{
  color:#32c7ba;
    padding-top: 6px;

}
.index-search
 {
   position: absolute;
       top: 35%;
       left: 12%;
       width: 20%;
       height: 6%;
       border: 2px solid #32c7ba;
       background-color: rgba(255, 255,255, 0.2);
       color: #fff;

}

.index-search::-webkit-input-placeholder {
    color: #fff;
      font-family: STC Regular;
      font-size: 17px;

}
.index-search:-moz-placeholder {

    color: #fff;
      font-family: STC Regular;
      font-size: 17px;
}
.index-search::-moz-placeholder {

    color: #fff;
      font-family: STC Regular;
      font-size: 17px;
}
.index-search:-ms-input-placeholder {

    color: #fff;
      font-family: STC Regular;
      font-size: 17px;
}
.index-menu-contact {
  position: absolute;
    top: 51%;
    left: 14%;
    float: left;
    clear: none;
    text-align: center;
    font-size: 30px;
}


.index-menu-contact a{
 color:#32c7ba;
   text-decoration: none;
   float: left;
   margin-left: 20px;

 }

.index-menu-contact p{

  color: #fff;
}
/*end of Menu style*/


.xx{
  width: 100%;
  height: 200px;
  background-color: red;
}
